{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block extra_head %}
  {% parent %}
<script>
$(document).ready(function(){
      var username = "{{username}}";
      var socket = io.connect('/');
      socket.on('news', function (data) {
          $('#msg').append($('<div>', {text: data.hello}));
      });
      socket.on('message', function (data) {
          $('#msg').append($('<div>', {text: data}));
      });
    $('#msg_input').keypress(function(evt){
        if (evt.which == 13 || evt.keyCode == 13) {
            var input = evt.currentTarget;
            var message = $(input).val();
            socket.emit('chat', {sender: username, message: message});
            $(input).val('');
        }
    });
});
</script>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div class="main-content">
    <div class="left-panel layout">
        <h2>Main</h2>
        <hr / >
        <div class='message-container' id='msg'></div>
        <hr / >
        <div class='input-panel'>
            <input id='msg_input' name='message' type='text' placeholder='input here' />
        </div>
    </div>
    <div class="right-panel layout">
        <h2>User List</h2>
        <div class='user-container'>
            <ul>
            {% for user in users %}
                <li>{{ user.name }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
