<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('localhost');
      socket.on('news', function (data) {
        console.log(data);
        $('#msg').html(data.hello);
        socket.emit('my other event', { my: 'data' });
      });
      socket.on('message', function (data) {
          var html = $('#msg').val();
          console.log(html);
          html += data;
          $('#msg').html(html);
      });
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div><span id="msg"></span></div>
  </body>
</html>
