{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block extra_head %}
  {% parent %}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <div>
        <form name='userform' action='.' method='post'>
            <input type="text" name="username" placeholder='Please enter your name here'>
            <input type="submit" value="Enter">
        </form>
    </div>
{% endblock %}
