<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}My Site{% endblock %}</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
