body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 960px;
}
a {
  color: #00b7ff;
}
div.layout {
  float: left;
  border: solid #ccc 1px;
}
div.main-content {
  width: 100%;
  top: 200px;
  height: 600px;
}
div.left-panel {
  width: 79%;
  position: relative;
  height: 100%;
}
div.right-panel {
  width: 19%;
  position: relative;
  height: 100%;
}
div.message-container {
  width: 100%;
  height: 80%;
  position: relative;
  overflow-y: auto;
}
div.input-panel {
  position: relative;
}
div.input-panel input {
  width: 100%;
  line-height: 20px;
}
